{{#if (isAdmin user) }}
    {{> admin-menu }}
{{else}}
    {{> menu }}
{{/if}}

<section class="section">
    <div class="title">
        {{category.name}}
    </div>
    {{> list-places}}
    {{> add-place}}
</section>